{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

    <textarea id="chat-log" cols="100" rows="20"></textarea><br/>
    <input id="chat-message-input" type="text" size="100"/><br/>
    <input id="chat-message-submit" type="button" value="Send"/>
<script>
    var chat_id = {{ chat_id }};

    document.querySelector('#chat-log').value = '';

    var ws = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + chat_id + '/');

    ws.onmessage = function(e) {
        var data = JSON.parse(e.data);
        console.log(data);
        if(data['msgs'].length > 0) {
            for(var i = 0; i<data['msgs'].length; i++){
                var message = data['msgs'][i].message;
                var datetime = new Date(data['msgs'][i].datetime).toLocaleTimeString();
                document.querySelector('#chat-log').value += (datetime + ': ' + message + '\n');
            }
         } else {
            console.log(data['msgs']);
            var message = data['msgs']['message'];
            var datetime = new Date(data['msgs']['datetime']).toLocaleTimeString();

            document.querySelector('#chat-log').value += (datetime + ': ' + message + '\n');
         }
    };

    ws.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        ws.send(JSON.stringify({
            'message': message
        }));

        messageInputDom.value = '';
    };

    function sendFile() {

        var file = document.getElementById('filename').files[0];

        var reader = new FileReader();

        var rawData = new ArrayBuffer();

        reader.loadend = function() {

        }

        reader.onload = function(e) {

            rawData = e.target.result;

            ws.send(rawData);

            alert("the File has been transferred.")

        }

        reader.readAsArrayBuffer(file);

    }

</script>
{% endblock content %}
