{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    Enter user_id<br/>
    <input id="user_id_input" type="text" size="100"/><br/>
    Enter advert_id<br/>
    <input id="advert_id_input" type="text" size="100"/><br/>
    <input id="user_id_submit" type="button" value="Enter"/>

    <script>
        document.querySelector('#user_id_input').focus();
        document.querySelector('#user_id_submit').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#user_id_submit').click();
            }
        };

        document.querySelector('#user_id_submit').onclick = function(e) {
            var user_id = document.querySelector('#user_id_input').value;
            var advert_id = document.querySelector('#advert_id_input').value;
            window.location.pathname = '/chat/' + user_id + '/' + advert_id + '/';
        };
    </script>
{% endblock content %}