{% extends 'base.html' %}
{% block content %}
<h2>Вход в чат</h2>
<form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" id="submit-btn" value="Отправить">
</form>
{% endblock content %}